* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 30px 20px;
  background-color: magenta;
  display: flex;
  justify-content: flex-end;
}

header > :first-child {
  margin-right: auto;
}

header > div {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: pink;
}

main {
  display: flex;
  justify-content: center;
}

.left-box {
  width: 300px;
  background-color: palegreen;
}

.right-box {
  max-width: 700px;
  padding: 20px;
  background-color: green;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.right-box > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: yellow;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: blue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-box {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: lightskyblue;
}
